
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="modal-dialog text-center">

    <div class="col-sm-10 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="~/Content/Images/User_icon_BLACK-01.png" style=" width: 30%; display: block; margin-left: auto; margin-right: auto;" />
            </div>
            <form class="col-12" id="frm2">
                <div class="form-group my-2 mx-4" id="user-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="user" />
                </div>
                <div class="form-group my-2 mx-4" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contrasena" name="password" />
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2"> Ingresar </button>
            </form>

        </div>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        $("#frm2").submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Admin/Enter")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                if (data == 1) {
                    document.location.href = "@Url.Content("~/Admin/AdminView")";
                }
                else
                {
                    alert(data);
                }
            })
        })
    })
    </script>
}

